<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames Captain API</title>
    <link rel="stylesheet" href="https://stackedit.io/style.css"/>
</head>

<body class="stackedit">
<div class="stackedit__html"><h1 id="codenames-captain-api">Codenames Captain API</h1>
    <p>Связь с API осуществляется путем обмена объектами JSON с сервером.</p>
    <h2 id="функционал">Функционал:</h2>
    <p>Сервер отвечает на следующие запросы:</p>
    <h3 id="семантика">1. Семантика</h3>
    <h4 id="associationsobj">1.1. /associations/&lt;obj&gt;</h4>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
  <span class="token string">"words"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token string">"сталь_NOUN"</span><span
                class="token punctuation">]</span><span class="token punctuation">,</span>
  <span class="token string">"count"</span><span class="token punctuation">:</span> <span class="token number">10</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает массив из count ассоциаций к словам массива words в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        При отсутствии слова в словаре вернёт строку “VocabularyError”.</p>
    <h3 id="vectorsobj">1.2. /vectors/&lt;obj&gt;</h3>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
  <span class="token string">"words"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token string">"сталь_NOUN"</span><span
                class="token punctuation">,</span> <span class="token string">"цех_NOUN"</span><span
                class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает массив векторов в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        При отсутствии элементов массива в словаре вернёт строку “VocabularyError”.</p>
    <p>Возвращает массив слов с размеченными частями речи у слов входного массива в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        При отсутствии элементов массива в словаре вернёт строку “VocabularyError”.</p>
    <h3 id="similarityobj">1.3. /similarity/&lt;obj&gt;</h3>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
  <span class="token string">"word1"</span><span class="token punctuation">:</span> <span class="token string">"сталь_NOUN"</span><span
                class="token punctuation">,</span>
  <span class="token string">"word2"</span><span class="token punctuation">:</span> <span class="token string">"цех_NOUN"</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает косинусное расстояние между словами в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        При отсутствии элементов массива в словаре вернёт строку “VocabularyError”.</p>
    <h3 id="морфология">2. Морфология</h3>
    <h4 id="part_of_speechobj">2.1. /part_of_speech/&lt;obj&gt;</h4>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
  <span class="token string">"words"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token string">"сталь"</span><span
                class="token punctuation">,</span> <span class="token string">"цех"</span><span
                class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает массив с размеченными частями речи слов массива <strong>words</strong> в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.</p>
    <h3 id="same_stem_russianobj">2.2. /same_stem_russian/&lt;obj&gt;</h3>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
 <span class="token string">"word1"</span><span class="token punctuation">:</span> <span class="token string">"сталь_NOUN"</span><span
                class="token punctuation">,</span>
 <span class="token string">"word2"</span><span class="token punctuation">:</span> <span
                class="token string">"цех_NOUN"</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает вероятность того, что слова однокоренные в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        Слова с омонимичными корнями будут проходить проверку аналогично однокоренным словам.</p>
    <h3 id="стратегия">3. Стратегия</h3>
    <h4 id="make_a_moveobj">3.1. /make_a_move/&lt;obj&gt;</h4>
    <p>Пример:</p>
    <pre class=" language-js"><code class="prism  language-js">obj <span class="token operator">=</span> <span
            class="token punctuation">{</span>
  <span class="token string">"words"</span><span class="token punctuation">:</span> <span
                class="token punctuation">{</span>
    <span class="token string">"red"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token string">"сталь_NOUN"</span><span
                class="token punctuation">]</span><span class="token punctuation">,</span>
    <span class="token string">"blue"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token punctuation">]</span><span
                class="token punctuation">,</span>
    <span class="token string">"white"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token punctuation">]</span><span
                class="token punctuation">,</span>
    <span class="token string">"black"</span><span class="token punctuation">:</span> <span
                class="token punctuation">[</span><span class="token string">"цех_NOUN"</span><span
                class="token punctuation">]</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
</code></pre>
    <p>Возвращает ассоциацию и число в формате json.<br>
        При неправильных входных данных возвращает строку “ValueError”.<br>
        При отсутствии слов в словаре вернёт строку “VocabularyError”.</p>
</div>
</body>

</html>
